

.category-row {
    display: flex;

    /* flex-wrap: wrap; */
    gap: 20%;
}

.category-col {
    display: flex;

    align-items: start;
    margin: 10px 0px;
    padding: 0;
}

.category-badge {

    border: .8px transparent rgba(10, 10, 10, 0.5);
    background-color: rgb(238, 238, 238);
    font-size: .6rem !important;
    color: black !important;
    margin: 0 10px;
}

.category-text {

    margin: 0 0;
}