.img-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 200px; 
    overflow:hidden;
    border: 2px transparent black;
    /* padding: 25% 30%; */
}

.img-display {
    width: auto;
    height: 90%;
}
